.main {
  margin-bottom: 90px;
}

.main-caption {
  font-size: 39px;
  line-height: 50px;
  text-align: center;
}

.trace {
  background-color: transparent;
  border: none;
  width: 100%;
  border-bottom: 1px solid #3A88F5;
  height: 25px;
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 13px;
  margin-bottom: 25px;
}

.trace::placeholder {
  color: #81B5FF;

}

.main-description {
  display: block;
  margin: 0;
  margin-bottom: 71px;
}

@media (min-width: @desktop-width) {
  .main-wrapper {
    display: flex;
    flex-wrap: nowrap;
  }

  .main-img {
    margin-right: 77px;
  }

  .main-caption {
    text-align: left;
    font-size: 30px;
    line-height: 38px;
  }

  .main-actions {
    max-width: 661px;
  }

  .main-actions__form {
    margin-top: 180px;
    margin-bottom: 142px;
  }

  .main-description {
    max-width: 468px;
    margin-bottom: 88px;
    letter-spacing: 1.6px;
  }
}
