// Начните писать стили здесь
.main-nav {
  min-width: 280px;
  position: relative;
  padding: 0;
  margin: 0 auto;
}

.main-nav__toggle {
  display: none;
}

.main-nav__list {
  margin: 0 auto;
  padding: 0;

}

.main-nav__list-item {
  font-family: "Abel", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: white;
  list-style: none;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 24px;
  box-sizing: border-box;
  cursor: pointer;
}

.main-nav__list-item:last-child {
  display: none;
}

.main-nav__list-item:first-child {
  border-bottom: 1px solid #1F77F7;
  text-transform: uppercase;
}


.main-nav__list-item a {
  text-decoration: none;
  color: white;
}

.main-nav__burger-toggle {
  position: absolute;
  top: -11px;
  left: calc(100% - 30px);
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  color: transparent;
  width: 24px;
  height: 18px;
  border: none;
  background-image: url("/img/logo-mobile-header-menu.svg");
}

// .main-nav__burger-toggle::before {
//   content: "";
//   position: absolute;
//   transform: rotate(45deg);
//   width: 24px;
//   height: 2px;
//   left: -1px;
//   top: 3px;
//   background-color: white;
//   cursor: pointer;
// }

// .main-nav__burger-toggle::after {
//   content: "";
//   position: absolute;
//   transform: rotate(-45deg);
//   width: 24px;
//   height: 2px;
//   background-color: white;
//   left: -1px;
//   top: 3px;
//   cursor: pointer;
// }

// JS включен
.main-nav--closed {
  .main-nav__list {
    display: none;
  }

  .main-nav__burger-toggle::after,
  .main-nav__burger-toggle::before {
    display: none;
  }

  .main-nav__burger-toggle {
    background-image: url("/img/logo-mobile-header-menu.svg");
  }
}

.main-nav--opened {
  .main-nav__list {
    // position: absolute;
    left: (50% - 160px);
    top: 0;
    margin: 0;
    padding: 0;
    min-width: 320px;
    z-index: 20;
  }

  .main-nav__burger-toggle {
    background-image: url("/img/logo-mobile-header-menu-cross.svg");
    position: absolute;
    top: -41px;
    right: 20px;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    width: 24px;
    height: 18px;
    border: none;
  }

  // .main-nav__burger-toggle::before {
  //   content: "";
  //   position: absolute;
  //   transform: rotate(45deg);
  //   width: 24px;
  //   height: 2px;
  //   left: -1px;
  //   top: 3px;
  //   background-color: #000000;
  //   cursor: pointer;
  // }

  // .main-nav__burger-toggle::after {
  //   content: "";
  //   position: absolute;
  //   transform: rotate(-45deg);
  //   width: 24px;
  //   height: 2px;
  //   background-color: #000000;
  //   left: -1px;
  //   top: 3px;
  //   cursor: pointer;
  // }
}

@media (min-width: @desktop-width) {
  .main-nav__burger-toggle {
    display: none;
  }



  .main-nav {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .main-nav__toggle,
  #page-language {
    display: block;
  }
  .main-nav--closed {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    margin-right: 70px;
  }
  }

  .main-nav__list-item {
    display: block;
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: white;
    list-style: none;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 24px;
    box-sizing: border-box;
    cursor: pointer;
  }

  .main-nav__list-item:last-child {
    display: block;
  }

  .main-nav__list-item:first-child {
    border-bottom: none;
    text-transform: none;
  }
}
