// Начните писать стили здесь
.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.page-header__logos {
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 16px;
  align-items: center;
  display: flex;
  width: 280px;
  margin: 0 auto;
}

.page-header--has-background {
  position: relative;
  margin-bottom: 0;
}

.page-header__logo-cat {
  margin-right: 57px;
}

.page-header__logo-text {
  margin-top: 7px;
}

.page-header__logo-cat svg:hover {
  opacity: 0.75;
}

.page-header__logo-cat svg:focus {
  opacity: 0.5;
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    border-bottom: none;
    justify-content: flex-start;

    min-height: 176px;
    box-sizing: border-box;
  }

  .page-header__logos {
    width: unset;
    margin: 0;
  }

  .page-header__logo-text {
    min-width: 202px;
    height: 59px;
    background-image: url("../img/logo-desktop-header-cat-and-text.svg");
    background-repeat: no-repeat;
    margin-right: 538px;
    background-size: cover;
  }

  .page-header--has-background {
    position: relative;
  }
}
