// Начните писать стили здесь
.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  margin-top: 50px;
}

.page-header__logo {
  margin-left: calc(40%);
  margin-bottom: 5px;
}

#page-language {
  display: none;
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    border-bottom: none;
    justify-content: flex-start;
    flex-wrap: nowrap;
    min-height: 176px;
    box-sizing: border-box;
  }

  .page-header__logo {
    width: unset;
    margin: 0;
    margin-right: 50px;
  }

  #page-language {
    margin-right: 48px;
    background: transparent;
    color: white;
    border: none;
    font-size: 20px;
    line-height: 25px;
    padding-right: 20px;
      background-repeat: no-repeat;
    background-image: url('/img/icon-select-triangle.svg');
    appearance: none;
    outline: 0;
  }

  // select:not([multiple]) {


  // }

}
