// Начните писать стили здесь
// .button {
//   padding: 10px 44px;
//   width: 280px;
//   font-family: "Abel", sans-serif;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 16px;
//   line-height: 20px;
//   align-items: center;
//   text-align: center;
//   text-transform: uppercase;
//   color: #ffffff;
//   border: none;
// }
.page-header__button {
display: none;
}
.primary-button {
  background: #FFB900;
  border-radius: 37px;
  width: 100%;
  height: 57px;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

@media (min-width: @desktop-width) {
  .page-header__button {
    background: transparent;
    width: 159px;
    height: 57px;
    font-size: 20px;
    line-height: 25px;
    color: white;
    border: none;
  }

  .page-header__button:hover {
    background: #FFFFFF;
    border-radius: 37px;
    width: 159px;
    height: 57px;
    font-size: 20px;
    line-height: 25px;
    color: #1D1C1C;
    text-transform: uppercase;
  }
}
