// Начните писать стили здесь

.container {
  display: block;
  width: 95%;
  margin: 0 auto;
  padding: 0;
}


@media (min-width: @desktop-width) {
  .container {
    width: 95%;
    margin: 0 auto;
    padding: 0;
  }
}
